@charset "utf-8";
#master
{
	width: 100%;
	height: 100%;
	background-color: #ccc;
	font-family: georgia, serif;
}
#page
{
	z-index:110;
	position:absolute; 
	width: 99.5%;
	float: right;
	height: 90%;
	background: white;
}
#titulo
{
	margin-top: 10px;
	font-size: 40;
	width: 100%;
	height: 10%;
	background-color: #ccc;
	text-align: center;
	font-weight:bold;

}
#conteudo
{
	position: absolute;
	z-index:120;
	width: 20%;
	float: left;
	top:5%;
	height: 77%;
	background: transparent;

}

#idColNome
{
	border: 2px solid black;
}
#idColNome1
{
	border: 2px solid black;
	font-size: 20px;
	
}
fieldset{

	background-color:rgb(0, 0, 0) transparent;
	background-color:rgba(200, 200, 200, 0.6);
	margin-top: 90px;
	margin-left:30%;
	margin-right:30%;
	
}
#valNome, #valUser, #valCargo, #valSenha, #valLogin, #valSexo, #valFone, #valEnd, #valCPF, #valEmail,#valValor, #valCid, #valEstado,#valData
{
	font-size: 12;
	color: red;
}

table.table
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:70%;
	border-collapse:collapse;
	text-align: center;
	margin-top: 100px;
	margin-left:20%;
	margin-right:30%;
}
table.table td, th
{
	text-align: center;
	border:1px solid #000;
	padding:3px 7px 2px 7px;
}

table.table tr.alt td
{
	text-align: center;
	color:#000;
	background-color:#ccc;
}
.negada{
	text-align: center;
	background-color:rgb(0, 0, 0) transparent;
	background-color:rgba(200, 200, 200, 0.6);
	margin-left:400px;
	margin-right:400px;
}
.ul {
	margin: 0;
	margin-top: 150px;
	margin-left:10px;
	padding:0;
	list-style: none;
	width: 150px;
	border-bottom: 1px solid #ccc;
	float:left;

}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;

}
ul li {
	position: relative;
}
li ul {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
}
ul li a {
	margin: 0;
	display: block;
	text-decoration: none;
	color: black;
	background: #ccc;
	padding: 5px;
	border: 1px solid black;
	border-bottom: 0;

}
a{
	text-decoration: none;
}
li:hover ul { display: block; }

.botao{
	position: relative;
}
.new{
	float: right;
	margin-top: 2%;
	margin-right: 5%;
}
.ab{
	float: right;
}
.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #333;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
} /* This hover code won't work for IE*/
